<!DOCTYPE html>
<html>
<head>
    <title>AJAX Example</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
    <h1>Variable Value: <span id="variableValue">{{ variable_value }}</span></h1>
    <button id="updateButton">Update Variable</button>

    <script>
        $(document).ready(function() {
            $('#updateButton').click(function() {
                $.ajax({
                    type: 'GET',
                    url: '/update_variable', // 서버 측 라우트
                    success: function(data) {
                        $('#variableValue').text(data.new_value);
                    }
                });
            });
        });
    </script>
</body>
</html>
